.userlogin_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #032054;
}

.userlogin_logo_text{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: red;
}